{% extends 'base.html.twig' %}

{% block title %}Edit Rental{% endblock %}

{% block body %}
    <h1>Edit Rental</h1>

    {{ include('rental/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('home') }}">Retour à la page d'accueil</a>

    {{ include('rental/_delete_form.html.twig') }}
{% endblock %}
